@font-face {
  font-family: 'NanumKoKoCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumKoKoCe/NanumKoKoCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumKoKoCe/NanumKoKoCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumKoKoCe/NanumKoKoCe.ttf') format('truetype');
}